RiskRepo/Dsl/GeneratedCode/RiskSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema id="RiskSchema" targetNamespace="http://schemas.microsoft.com/dsltools/Risk" elementFormDefault="qualified" xmlns="http://schemas.microsoft.com/dsltools/Risk" xmlns:core="http://schemas.microsoft.com/VisualStudio/2008/DslTools/Core" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import id="CoreSchema" namespace="http://schemas.microsoft.com/VisualStudio/2008/DslTools/Core" />
  <!-- NamedElement -->
  <xsd:element name="namedElement" abstract="true" type="NamedElement" substitutionGroup="core:modelElement" />
  <xsd:complexType name="NamedElement" abstract="true" >
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Name -->
        <xsd:attribute name="name" type="xsd:string" use="required" >
          <xsd:annotation>
            <xsd:documentation>The name of the element</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- NamedElement Moniker -->
  <xsd:element name="namedElementMoniker" abstract="true" type="NamedElementMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="NamedElementMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for NamedElement instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="name" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- RiskModel -->
  <xsd:element name="riskModel" type="RiskModel" substitutionGroup="namedElement" />
  <xsd:complexType name="RiskModel">
    <xsd:complexContent>
      <xsd:extension base="NamedElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: RiskModelHasContainers -->
          <xsd:element name="containers" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of RiskModelHasContainers</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="riskModelHasContainers" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of RiskModelHasContainers needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: RiskModelHasAssets -->
          <xsd:element name="assets" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of RiskModelHasAssets</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="riskModelHasAssets" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of RiskModelHasAssets needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: RiskModelHasThreatAgents -->
          <xsd:element name="threatAgents" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of RiskModelHasThreatAgents</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="riskModelHasThreatAgents" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of RiskModelHasThreatAgents needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- dslVersion -->
        <xsd:attribute name="dslVersion" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Version of the model serialized in this file.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- RiskModel Moniker -->
  <xsd:element name="riskModelMoniker" type="RiskModelMoniker" substitutionGroup="namedElementMoniker" />
  <xsd:complexType name="RiskModelMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for RiskModel instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="NamedElementMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Container -->
  <xsd:element name="container" type="Container" substitutionGroup="namedElement" />
  <xsd:complexType name="Container">
    <xsd:annotation>
      <xsd:documentation>Represents part of a system being studied: a building, computer, network etc</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="NamedElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: Generalization -->
          <xsd:element name="subclasses" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of Generalization</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:choice minOccurs="0" maxOccurs="unbounded" >
                  <xsd:element ref="generalization">
                    <xsd:annotation>
                      <xsd:documentation>[Relationship deriving from Generalization needs to be serialized in full-form]</xsd:documentation>
                    </xsd:annotation>
                  </xsd:element>
                  <xsd:element ref="containerMoniker" >
                    <xsd:annotation>
                      <xsd:documentation>[Target role-player]</xsd:documentation>
                    </xsd:annotation>
                  </xsd:element>
                </xsd:choice>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: Contains -->
          <xsd:element name="targetContainers" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of Contains</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="contains" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of Contains needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: ContainerReferencesAssets -->
          <xsd:element name="assets" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of ContainerReferencesAssets</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="containerReferencesAssets" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of ContainerReferencesAssets needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: ContainerHasContainerPorts -->
          <xsd:element name="containerPorts" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of ContainerHasContainerPorts</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="containerHasContainerPorts" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of ContainerHasContainerPorts needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Type -->
        <xsd:attribute name="type" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>The type of the container</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Container Moniker -->
  <xsd:element name="containerMoniker" type="ContainerMoniker" substitutionGroup="namedElementMoniker" />
  <xsd:complexType name="ContainerMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for Container instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="NamedElementMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Port -->
  <xsd:element name="port" abstract="true" type="Port" substitutionGroup="namedElement" />
  <xsd:complexType name="Port" abstract="true" >
    <xsd:complexContent>
      <xsd:extension base="NamedElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: Interaction -->
          <xsd:element name="targetPort" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of Interaction</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="interaction" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of Interaction needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Port Moniker -->
  <xsd:element name="portMoniker" abstract="true" type="PortMoniker" substitutionGroup="namedElementMoniker" />
  <xsd:complexType name="PortMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for Port instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="NamedElementMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Asset -->
  <xsd:element name="asset" type="Asset" substitutionGroup="namedElement" />
  <xsd:complexType name="Asset">
    <xsd:annotation>
      <xsd:documentation>Represents something of value</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="NamedElement">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Number -->
        <xsd:attribute name="number" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>The number of instances of this asset</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: SingleConfidentialityValue -->
        <xsd:attribute name="singleConfidentialityValue" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>The impact of disclosure of this asset</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: SingleIntegrityValue -->
        <xsd:attribute name="singleIntegrityValue" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>The impact of tampering with this asset</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: SingleAvailabilityValue -->
        <xsd:attribute name="singleAvailabilityValue" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>The impact of loss of this asset</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Asset Moniker -->
  <xsd:element name="assetMoniker" type="AssetMoniker" substitutionGroup="namedElementMoniker" />
  <xsd:complexType name="AssetMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for Asset instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="NamedElementMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ThreatAgent -->
  <xsd:element name="threatAgent" type="ThreatAgent" substitutionGroup="namedElement" />
  <xsd:complexType name="ThreatAgent">
    <xsd:annotation>
      <xsd:documentation>Represents something active, a user, attacker or external event</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="NamedElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: ThreatAgentHasAgentPorts -->
          <xsd:element name="agentPorts" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of ThreatAgentHasAgentPorts</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="threatAgentHasAgentPorts" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of ThreatAgentHasAgentPorts needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: ThreatAgentHasConditions -->
          <xsd:element name="conditions" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of ThreatAgentHasConditions</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="threatAgentHasConditions" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of ThreatAgentHasConditions needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Number -->
        <xsd:attribute name="number" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>The number of instances of this threat</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ThreatAgent Moniker -->
  <xsd:element name="threatAgentMoniker" type="ThreatAgentMoniker" substitutionGroup="namedElementMoniker" />
  <xsd:complexType name="ThreatAgentMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ThreatAgent instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="NamedElementMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- AgentPort -->
  <xsd:element name="agentPort" type="AgentPort" substitutionGroup="port" />
  <xsd:complexType name="AgentPort">
    <xsd:annotation>
      <xsd:documentation>Represents a threat agent&apos;s ability to interact with something</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="Port">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- AgentPort Moniker -->
  <xsd:element name="agentPortMoniker" type="AgentPortMoniker" substitutionGroup="portMoniker" />
  <xsd:complexType name="AgentPortMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for AgentPort instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="PortMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ContainerPort -->
  <xsd:element name="containerPort" type="ContainerPort" substitutionGroup="port" />
  <xsd:complexType name="ContainerPort">
    <xsd:annotation>
      <xsd:documentation>Represents a container&apos;s ability to interact with something</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="Port">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ContainerPort Moniker -->
  <xsd:element name="containerPortMoniker" type="ContainerPortMoniker" substitutionGroup="portMoniker" />
  <xsd:complexType name="ContainerPortMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ContainerPort instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="PortMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Condition -->
  <xsd:element name="condition" type="Condition" substitutionGroup="namedElement" />
  <xsd:complexType name="Condition">
    <xsd:annotation>
      <xsd:documentation>This represents a condition a threat agent has before connecting to a system.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="NamedElement">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Condition Moniker -->
  <xsd:element name="conditionMoniker" type="ConditionMoniker" substitutionGroup="namedElementMoniker" />
  <xsd:complexType name="ConditionMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for Condition instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="NamedElementMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- RiskModelHasContainers -->
  <xsd:element name="riskModelHasContainers" type="RiskModelHasContainers" substitutionGroup="core:modelElement" />
  <xsd:complexType name="RiskModelHasContainers">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Container -->
          <xsd:element ref="container" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- RiskModelHasContainers Moniker -->
  <xsd:element name="riskModelHasContainersMoniker" type="RiskModelHasContainersMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="RiskModelHasContainersMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for RiskModelHasContainers instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Generalization -->
  <xsd:element name="generalization" abstract="true" type="Generalization" substitutionGroup="core:modelElement" />
  <xsd:complexType name="Generalization" abstract="true" >
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Container -->
          <xsd:element ref="containerMoniker" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Generalization Moniker -->
  <xsd:element name="generalizationMoniker" type="GeneralizationMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="GeneralizationMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for Generalization instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Interaction -->
  <xsd:element name="interaction" type="Interaction" substitutionGroup="core:modelElement" />
  <xsd:complexType name="Interaction">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Port -->
          <xsd:element ref="portMoniker" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Attack -->
        <xsd:attribute name="attack" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Interaction Moniker -->
  <xsd:element name="interactionMoniker" type="InteractionMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="InteractionMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for Interaction instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Contains -->
  <xsd:element name="contains" type="Contains" substitutionGroup="core:modelElement" />
  <xsd:complexType name="Contains">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Container -->
          <xsd:element ref="containerMoniker" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Number -->
        <xsd:attribute name="number" type="xsd:string" />
        <!-- Property: Attack -->
        <xsd:attribute name="attack" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Contains Moniker -->
  <xsd:element name="containsMoniker" type="ContainsMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ContainsMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for Contains instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ContainerReferencesAssets -->
  <xsd:element name="containerReferencesAssets" type="ContainerReferencesAssets" substitutionGroup="core:modelElement" />
  <xsd:complexType name="ContainerReferencesAssets">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Asset -->
          <xsd:element ref="assetMoniker" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ContainerReferencesAssets Moniker -->
  <xsd:element name="containerReferencesAssetsMoniker" type="ContainerReferencesAssetsMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ContainerReferencesAssetsMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ContainerReferencesAssets instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- RiskModelHasAssets -->
  <xsd:element name="riskModelHasAssets" type="RiskModelHasAssets" substitutionGroup="core:modelElement" />
  <xsd:complexType name="RiskModelHasAssets">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Asset -->
          <xsd:element ref="asset" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- RiskModelHasAssets Moniker -->
  <xsd:element name="riskModelHasAssetsMoniker" type="RiskModelHasAssetsMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="RiskModelHasAssetsMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for RiskModelHasAssets instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- RiskModelHasThreatAgents -->
  <xsd:element name="riskModelHasThreatAgents" type="RiskModelHasThreatAgents" substitutionGroup="core:modelElement" />
  <xsd:complexType name="RiskModelHasThreatAgents">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end ThreatAgent -->
          <xsd:element ref="threatAgent" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- RiskModelHasThreatAgents Moniker -->
  <xsd:element name="riskModelHasThreatAgentsMoniker" type="RiskModelHasThreatAgentsMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="RiskModelHasThreatAgentsMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for RiskModelHasThreatAgents instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ThreatAgentHasAgentPorts -->
  <xsd:element name="threatAgentHasAgentPorts" type="ThreatAgentHasAgentPorts" substitutionGroup="core:modelElement" />
  <xsd:complexType name="ThreatAgentHasAgentPorts">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end AgentPort -->
          <xsd:element ref="agentPort" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ThreatAgentHasAgentPorts Moniker -->
  <xsd:element name="threatAgentHasAgentPortsMoniker" type="ThreatAgentHasAgentPortsMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ThreatAgentHasAgentPortsMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ThreatAgentHasAgentPorts instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ContainerHasContainerPorts -->
  <xsd:element name="containerHasContainerPorts" type="ContainerHasContainerPorts" substitutionGroup="core:modelElement" />
  <xsd:complexType name="ContainerHasContainerPorts">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end ContainerPort -->
          <xsd:element ref="containerPort" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ContainerHasContainerPorts Moniker -->
  <xsd:element name="containerHasContainerPortsMoniker" type="ContainerHasContainerPortsMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ContainerHasContainerPortsMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ContainerHasContainerPorts instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ThreatAgentHasConditions -->
  <xsd:element name="threatAgentHasConditions" type="ThreatAgentHasConditions" substitutionGroup="core:modelElement" />
  <xsd:complexType name="ThreatAgentHasConditions">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Condition -->
          <xsd:element ref="condition" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ThreatAgentHasConditions Moniker -->
  <xsd:element name="threatAgentHasConditionsMoniker" type="ThreatAgentHasConditionsMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ThreatAgentHasConditionsMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ThreatAgentHasConditions instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
</xsd:schema>

